@font-face {
    font-family: retroFont;
    src: url(./assets/RetroCoolRegular-rgV2O.ttf);
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: black;
    margin: 0;
    padding: 0;
}

#wrapper {
    display: flex;
    flex-direction: row;    
}

#picture {
    background-position: center;
    width: 60vw;
    height: 100vh;
    max-width: 700px;
    background-image: url(./assets/mushroom.jpg);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-size: cover;
    background-position: center;
}

.lower{
    padding: 20px;
}

.lower>a{
    color: #B9B9B9;   
}

.upper {
    height: 40vh;
    width: 100%;
    display: flex;
    flex-direction: column;    
    justify-content: end;
    align-self: center;
    color: #B9B9B9;
}

img {
    padding: 5px;
    max-height: 90%;
    width: auto;
    height: auto;
}

.logo {    
    font-size: 40px;
    height: 100px;
    background-color: black;
    opacity: 0.7;
    display: flex;
    justify-content: center; 
    align-items: center;
    justify-items: center;
    align-content: center;
    font-family: retroFont;
}

.logo>h1 {
    height: 100%;
}

#form-section {
    font-size: 20px;
    margin: 0;
    width: 100%;
}

input {
    border-radius: 5px;
    margin-top: 5px;
    height: 25px;    
}

input:focus {
    border: 3px solid;
    border-color: #b28dd8;
}

.formblock {
    display: flex;
}

.formitem {
    margin-top: 20px;
    margin-right: 70px;
}

.formbg {
    margin: 0;
    color: #B9B9B9;
    padding: 30px;
}

.formtext {    
    color: #B9B9B9;
    padding: 0px 60px 0px 30px;
    
}

form > button {
    font-size: 20px;
    margin: 10px 30px;
    padding: 15px;
    color:  aliceblue;
    background-color: #4e1b80;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}

.pswdmatch {
    font-size: 0.9rem;
    color: #b28dd8;
    font-weight: bold;
    opacity: 0;
}

a {
    color: #4e1b80;
}

@media (max-width: 700px) {
    
    #wrapper {
        flex-direction: column;       
    }

    #picture {
        width: 100%;
        height: 300px;                
    }

    .formblock {
        flex-direction: column;
    }

    input {
        margin: 0;
        width: 80vw;
    }

    .lower>a{
        font-size: 10px; 
        margin: 0;
        padding: 0;
    }

}